<div class="search">
  <form>
    <input type="text" placeholder="Search city...">
  </form>
</div>

<div class="container">
  <div class="upper-data">
    <ng-container>
      <img src="../assets/codeWeather.jpg" *ngIf="14 > 15">
      <img src="../assets/hotweather.jpg" *ngIf="14 <= 15">
      <img src="../assets/error.png" *ngIf="error">
    </ng-container>

    <div class="weather-data">
      <ng-container>
        <div class="location" *ngIf="!error">
          {{weatherData.name}}
        </div>
        <div class="location" *ngIf="error">
          {{errorMessage}}
        </div>
      </ng-container>

      <div class="temperature" *ngIf="!error">
        {{ weatherData.main.temp | number: '1.0-0'}}°C
      </div>
    </div>
  </div>
  <div class="lower-data">

    <div class="more-info-label">
      More information
    </div>

    <main class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min2.jpg">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.webp">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.deg}} km/h
        </div>
      </div>

    </main>
  </div>
</div>

<router-outlet></router-outlet>
